.tab-container{
    display: flex;
    margin:auto;
    width:40%;
    flex-direction: row;
    justify-content:center;
}
.tab-container .tab {
    z-index: 1;
    padding:1em 3em;
    color:white;
    background-color:  #1e90ff;
    opacity:0.9;
    cursor: pointer;
    font-size: larger;
    font-weight:500;
    transition: border 0.2s ease;
    transition: background-color 0.55s ease-in-out;
    transition: color 0.2s ease;


}
.tab:hover {
    background-color: rgba(83, 214, 179, 0.6);
    color:#3f3f3f;
    border-bottom:2px solid black;

}

.tab.active {
    background-color: rgba(83, 214, 179, 0.9);
    border-bottom:2px solid white;
    color:black;
}
